.submit-button-container {
  justify-content: space-between;
  
  & .btn {
    min-width: 5rem;
  }
}

.profile-view {
  justify-content: center;

  .form-control {
    color: black;
  }
}

.vertical-align-middle {
  vertical-align: middle !important;
}