@import "../../scss/responsive";

.dropdown-toggle::after {
  display: none;
}

.header-avatar {
  .dropdown-toggle {
    padding-top: 0;
  }
}

.header-avatar {
  .dropdown-menu {
    margin-left: 0.5rem;
  }
}

.btn:disabled {
  cursor: not-allowed;
}

.navbar {
  @include tinyMobile {
    padding: 0;
  }
  @include mobile {
    padding: 0;
  }
  @include tablet {
    padding: 0;
  }
}