@import '../../../scss/responsive';

.report-list-header {
  @include mobile {
    justify-content: center;
  }
}

.first-of-reports-wrapper {
  background-color: rgb(250, 250, 250);
  border-bottom-width: 2px;
  cursor: pointer;

  .first-of-reports {
    min-height: 50px;
    align-items: center;
    position: relative;
    padding: 0.5rem 0;

    &.expandable::before {
      content: "\f078";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 14px;
      position: absolute;
      top: 14px;
      right: 0;
    }

    &.expandable.expanded {
      &::before {
        content: "\f077";
      }
    }
  }
}

.report-item-wrapper {
  background-color: rgb(245, 245, 245);
  border-bottom-width: 1px;

  .report-item {
    min-height: 50px;
    align-items: center;
    position: relative;
    padding: 0.5rem 0;

    .col {
      display: flex;
      align-items: center;
    }
  }
}

.report-table {
  border-radius: 1rem;
  min-height: 50px;
  align-items: center;

  & .table-name {
    height: 50px;
    align-items: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border: 1px lightgrey solid;
    cursor: pointer;

    &.expanded {
      background-color: #03B180;
      color: white;
    }
  }
}
