@import '../../scss/responsive';

.date-picker-wrapper {
  @include mobile {
    margin: 0 !important;
    margin-bottom: 0.25rem !important;
    width: 100%;
  }
}

.sc-bxivhb.hNYVES {
  max-width: unset !important;
  max-height: unset !important;
  min-width: 30vw !important;
  min-height: 40vh !important;
  overflow: hidden !important;

  @include tinyMobile {
    width: 100% !important;
    height: 100% !important;
  }
  @include mobile {
    width: 80%;
    height: 80%;
  }
  @include tablet {
    width: 60% !important;
    height: 80% !important;
  }
  @include computer {
    width: 40% !important;
    height: 80% !important;
  }
  @include largeScreen {
    width: 20% !important;
    height: 80% !important;
  }

  & * {
    // width: 100%;
    // display: flex;
    // justify-content: space-evenly;
    // // transform: translateY(-1000%);
  }
  
}

.kFFzyG {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mwkuE {
  margin-bottom: 5rem;
  width: 100%;

  thead {
    text-align: center;
  }
} 

.sc-dnqmqq.hnCLtd {
  display: none;
}

.rdp__button--cancel {
  float: left;
  margin-left: 1rem !important;
}

.rdp__button--submit {
  background-color: #4dbd74 !important;
  color: white !important;
}

.sc-bZQynM.ebfryp {
  padding: 1rem;
}

.fasyzl, .lkWXcI {
  border-radius: 5rem !important;
}

.huLjwb svg {
  fill: #000;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.dp__input {
  display: none;
}
.ePFrIo {
  position: fixed !important;
}

.date-picker-customized-button {
  min-width: 200px !important;
  display: inline-block;
}

.customized-arrow-button {
  border-radius: 5rem;
  cursor: pointer;

  &:hover {
    background-color: #d3d3d3d3;
  }
}