.dir-rtl {
    direction: rtl !important;
}

.dir-ltr {
    direction: ltr !important;
}

.font-vazir {
    font-family: Vazir;
}

.header-logo {
    width: 50px;
}

.flex-one {
    flex: 1 !important;
}

.btn-outline-warning {
    background-color: transparent !important;
    color: #F46521 !important;
    border-color: #F46521 !important;

    &:hover {
        background-color: #F46521 !important;
        color: white !important;
    }
}

.box-shadow-none {
    box-shadow: none !important;
}

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }

.text-navy-blue { color:  #4679ae }


.border-radius-none {
    border-radius: 0 !important
}

.user-logo {
    width: 60px;
    height: 60px;
    background: url($user-logo) no-repeat;
    background-position: top center;
    background-size: 50px;
    border: solid 3px #808080;
    border-radius: 50px;
}

.upload-section {
    position: relative;
    padding-top: 100%;
    box-sizing: content-box;
    border: dashed 5px #808080;
    border-radius: 20px;
    cursor: pointer
}

.upload-section::after {
    position: absolute;
    bottom: 42%;
    left:47%;
    font-size:20px;
    content: '+';
}

.profile.upload-section::after {
    content: none;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.btn {
    min-width: 5rem;
    &.circular {
        border-radius: 5rem;
    }
}

.card {
    &.circular {
        border-radius: 1rem;
        overflow: hidden;
    }
}

.justify-content-flex-start {
    justify-content: flex-start !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.border-bottom-light-grey {
    border-bottom: 1px solid lightgrey;
}

.tab-item {
    min-width: 90px;
    text-align: center;

    &.active {
        border-bottom: 2px solid;
    }
}

.profilePictureWrapper {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;

    &.circular {
        border-radius: 100%;
        border: outset 3px lightskyblue;
        overflow: hidden;

        &.not-loading {
            // .profile.upload-section::before {
            //     position: absolute;
            //     bottom: 36%;
            //     left: 45%;
            //     font-size:40px;
            //     color: lightskyblue;
            //     content: '+';
            //     display: none;
            // }
    
            &:hover {
                border: outset 5px lightskyblue;
    
                .profile.upload-section::before {
                    display: block;
                }
            }
        }

        &.loading {
            border: none !important;
            
            &:hover {
                border: none !important;
    
                .profile.upload-section::before {
                    display: block;
                }
            }
        }

    }

    .loading {
        height: 100%;
        width: 100%;
        position: absolute;
        border: outset 5px lightskyblue;
        border-radius: 50%;
        animation: spinner 2s linear infinite;
    }
    
    .upload-section {
        // background-image: url($user-logo);
        background-position: center;
        position: relative;
        border: none;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(359deg);
    }
}

.image-upload-section {
    padding-top: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.circular {
        border-radius: 100%;
    }
}

.remove-image-icon {
    z-index: 1000;
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
}

.map-section-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.map-section-text {
    position: absolute;
    bottom:50%;
    left: 45%;
}

.project-picture { max-width: 64px; }