/* class */

body {
    background-color: #ffffff
}

*:not(i) { 
    font-family: IRANSans;
}

i {
    font-family: FontAwesome;
    font-style: normal;
}

.bg-auth {
    height: 100vh !important;
    background-image: url("/assets/img/bg-auth.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-verification {
    outline: 0;
    margin: 0 10px;
    padding-bottom: 10px;
    text-align: center;
    border: none;
    background: transparent;
    transition: border-bottom-color .5s;
}

.text-verification.border-bottom-default {
    border-bottom: solid 3px $dark_gray_color;
}

.text-verification.border-bottom-danger {
    border-bottom: solid 3px $red_danger_color;
}


.text-verification:focus {
    border-bottom: solid 3px #20a8d8;
}


.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #d0e8f0;
}

.table-striped tbody tr:nth-of-type(2n) {
    background-color: #e7f4f8;
}

.table td, .table th {
    vertical-align: middle !important;
    border:none !important
}

.modal { background: rgba(0,0,0,0.5) !important }
.modal-header .close { margin:-10px -1rem -1rem 0; }
.modal-content { border-radius: 20px; overflow: hidden; }